<div class="footer">
    <div class="container">
        <strong>Copyright</strong> &copy; 2023 - Game Zone - Todos os direitos reservados - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</div>
